#!/usr/bin/env bash
# This file should be git-ignored

mysql_host=example.com
mysql_port=3306
mysql_db=example
mysql_user=example
mysql_passwd="example"

mysql_dsn="${mysql_user}:${mysql_passwd}@tcp(${mysql_host}:${mysql_port})/${mysql_db}"

